[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/gctronic/esp32-wifi-manager.git
[submodule "components/thymio-nn"]
	path = components/thymio-nn
	url = https://github.com/Mobsya/thymio-nn.git
[submodule "components/mp_component/micropython"]
	path = components/mp_component/micropython
	url = https://github.com/Mobsya/micropython.git
